.modal {
    position: fixed;
    background-color: #fff;
    padding-top: 5vh;
    flex-direction: column;
    display: flex;
    box-shadow: 1px 1px 5px #0f1011;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1rem;
    color: #313234;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
}

.button {
    width: 20vh;
    height: 5vh;
    align-self: center;
    margin-top: 10px;
}

.button:hover {
    box-shadow: 1px 1px 5px #0f1011;
}

.authFactorList {
    position: fixed;
    top: 20vh;
    left: 20vw;
    right: 50vw;
    bottom: 10vh;
    padding-top: 20px;
    flex-direction: column;
    display: flex;
    box-shadow: 1px 1px 5px #0f1011;
    overflow: scroll;
}

.conditionList {
    position: fixed;
    top: 25vh;
    left: 20vw;
    right: 50vw;
    bottom: 25vh;
    border-radius: 2%;
}

.conditionGroup {
    padding-left: 2vw;
    margin-bottom: 4vh;
}

.conditionContainer {
    display: flex;
    flex-direction: column;
}

.conditionDescription{
    margin-top: 0;
    color: #acadaf;
    align-self: flex-start;
    margin-bottom: 10px;
}

.conditionInput {
    width: 28vw;
}

.factor {
    display: flex;
    flex-direction: column;
}

.menuItem {
    height: 5vh;
}

.warning {
    color: #971844;
}

.button-2 {
    width: 20vh;
    height: 3vh;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 1px #0f1011;
    margin-inline: 2vw;
}

.successFailureSelectionForm{
    width: 10vw;
    align-self: flex-end;
}

.componentSelector{
    top: 25vh;
    left: 20vw;
    right: 50vw;
    bottom: 35vh;
    border-radius: 2%;
}