.Dropped-factor {
    border-radius: 2px !important;
    background-color: rgb(34, 36, 38);
    padding: 0.8rem;
    margin-inline: 0.6vw;
    margin-top: 0.5rem;
    float: left;
    color: rgba(255,255,255,0.8);
    box-shadow: 2px 2px 2px #4e5053;
    font-size: 0.8vw;
}

.factor-container {
    align-items: center;
}

.stepContainer {
    margin-top: -6.3vh;
}

.step {
    background: rgba(0, 0, 0, 0.0);
    border: 1px dashed rgba(255,255,255,0.5);
    color: #FFF;
    padding: 10px;
    font-size: 14px;
    width: 15vw;
    height: 42vh;
    border-radius: 2px;
}

.condition {
    color: #FFF;
}

.textContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 120px;
    margin-left: -35px;
    word-wrap: break-word;
}

.success {
    font-size: 50px;
    color: #1BC462;
    font-weight: normal;
}

.plus {
    font-size: 35px;
}

.step-top-bar {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    /*align-items: center;*/
    margin-bottom: 15px;
}

.delete-button {
    background-color: rgba(0,0,0,0);
    color: #FFFFFF;
    border: rgba(0,0,0,0);
    font-size: 24px;
}

.authenticators-button {
    /*justify-self: center;*/
}

.bottom-text {
    font-size: 14px;
    margin-top: -12px;
}

.connector {
    font-size: 20px;
}

.multiFactorNode {
    width: 240px;
    height: 270px;
    display: flex;
    align-items: center;
}

.multiFactor {
    width: 240px;
    background-color: #fff;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #0f1011;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
}

.multiFactorText{
    padding-bottom: 10px;
}

.failure {
    font-size: 0.6vw;
    background-color: #4b040d;
    border-radius: 2%;
    padding: 3px;
}