.container {
    display: flex;
    flex-direction: column;
    justify-items:center;
    margin-top: 10px;
    overflow: auto;
    height: 100%;
}

.type {
    padding-left: 0.4vw;
    font-size: calc(1px + 0.7vmax);
    /*margin-top: 3vh;*/
    margin-bottom: 1vh;
    font-family: monospace;
}

.options {
    display: flex;
    flex-direction: column
}