.container {
    display: flex;
    flex-direction: column;
    justify-items:center;
    overflow: auto;
    height: 100%;
    padding-inline: 10px;
}

.templates-name {
    padding-left: 0.4vw;
    font-size: 1rem;
    margin: 2.3vh 0 2vh;
    letter-spacing: 1px;
}

.options {
    display: flex;
    flex-direction: column;
}