.template-container {
    padding: 16px 20px;
    margin: 8px 0 5px;
    /*background: rgb(35, 35, 35) none repeat scroll 0% 0%;*/
    background-color: #434345;
    border-radius: 6px;
    height: 16px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    /*border: 2px solid rgb(35, 35, 35);*/
    color: #E3E3E3;
    cursor: pointer;
    user-select: none;
}

.template-container:hover {
    box-shadow: 0 1px 3px 0 #504e4e;
}

.template-text {
    padding-left: 10px;
    font-size: 14px;
    display: flex;
    margin-top: 1px;
}