.Visual-editor{
    width: 59%;
    /*border-bottom: 1px solid rgb(70, 69, 69);*/
    /*box-shadow: inset 0 0 1px #77787b;*/
}

.Visual-editor-header{
    font-size: 0.95rem;
    padding-left: 1rem;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #49494c;
    /*box-shadow: 1px 1px 1px #1d1d1f;*/
}

.Visual-editor-body {
    text-align: center;
    font-size: 1rem;
}

.Flow {
    height: 80vh;
    width: 50vw;
    justify-self: center;
}

.Flow-container {
    /*border: 1px solid rgba(0,0,0,0.2);*/
    height: 86.8vh;
    width: 58.9vw;
    justify-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #313234;
}

.flow-control {
    opacity: 0.5;
}

.flowBackground {
    opacity: 0.5;
}

.warning {
    padding: 40px;
    color: #a3a0a0;
}

.warning-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.warning-content{
    font-size: 0.75rem;
}

.warning-icon {
    color: #aa303f;
    padding-right: 10px;
}