.Visual-editor-header{
    margin-left: 1rem;
    font-size: 0.95rem;
    padding-left: 1rem;
    margin-top: -0.5rem;
    letter-spacing: 0.5px;
}

.Visual-editor-body {
    padding-inline: 1rem;
    text-align: center;
    font-size: 1rem;
    align-self: center;
    align-items: center;
}

.Flow {
    height: 80vh;
    width: 50vw;
    justify-self: center
}

.Flow-container {
    border: 1px solid rgba(0,0,0,0.2);
    height: 84vh;
    width: 67.5vw;
    justify-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flow-control {
    opacity: 0.5;
}